/* Material Symbols Outlined Local Placeholder */
@font-face {
  font-family: "Material Symbols Outlined";
  src: url("../old/MaterialSymbolsOutlined-100-700.woff2") format("woff2");
  font-weight: 100 700; /* variable font range */
  font-style: normal;
  font-display: block;
}
