@use "../../utils/mixins" as *;
@use "../../utils/icons" as *;
@use "../../utils/animations" as *;
@use "../../utils/slider" as *;
@use "../../utils/hidestuff" as *;
@use "../../utils/dropdown" as *;

@use "../flying_specs" as *;

$categorybg: rgba(230, 82, 80, 1);
$categorybghover: rgba(233, 73, 48, 1);

.template_section {
  width: 90%;
  min-height: 100vh;

  @include flexcol;
  @include border(red);
  .templatesdescription {
    @include flexcol;
  }

  .templates_ul {
    width: 90%;
    height: auto;
    background-color: #edccc8ff;
    list-style-type: none;

    padding: 45px 35px;
    border-radius: 26px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    @include border(navy);
    /* 1/3 width for each column. Use media quieries to change width */
    .templates_category {
      /*  add padding too */
      /* regenerate the  */
      @include flexcol;

      a {
        background-color: $categorybg;
        width: 100%;

        height: 190px;
        border-radius: 25px;

        padding: 25px 30px 30px 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transition: background-color 0.4s border 0.4s;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;

        &:hover {
          background-color: $categorybghover;
          border: 2px solid white;
        }
      }
    }
    @media (min-width: 1000px) {
      /* this is the width that it will be 3 columns until */

      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 550px) {
      // this is the main one that makes it responsive.
      grid-template-columns: repeat(1, 90%);
      justify-content: center; // centers the grid track(s)

      .schoolist-column a {
        padding: 25px 15px 30px 18px;

        .schoolnamediv {
          font-size: 18px;

          @media screen and (max-width: 375px) {
            word-break: break-all;
          }
        }
      }

      .schoolist-column {
        //   background-color: red !important;
      }
    }
    /* finish this later */
  }
}

/* this div contains all the a's */
