:root {
  // positive values move down, negative move up
  // now that its position absolute these can be 0
  --flyingy: 0px;
  --flyingymobile: 0px;
  --fly-start: -90vw; /* fully off-screen left */
  --fly-end: 105vw; /* fully off-screen right */
}
@keyframes border_animation {
  0% {
    border-color: rgb(247, 116, 116);
    background-color: #fff;
    transform: scale(1);
  }

  50% {
    border-color: rgb(17, 68, 157);
    background-color: #eee;
    transform: scale(1.3);
  }
  70% {
    border-color: rgb(255, 0, 230);
    background-color: #fff;
  }
  100% {
    border-color: rgb(247, 116, 116);
    background-color: #fff;
    transform: scale(1);
  }
}

@keyframes blurbify_bg_animations {
  0% {
    background-color: rgba(60, 125, 60, 1);
  }

  50% {
    background-color: #085788ff;
  }
  70% {
    background-color: rgba(223, 103, 56, 1);
  }
  70% {
    background-color: rgba(223, 56, 148, 1);
  }
  90% {
    background-color: rgba(220, 112, 30, 1);
  }
  100% {
    background-color: rgba(60, 125, 60, 1);
  }
}

@keyframes flyingobject {
  0% {
    transform: translateX(var(--fly-start)) translateY(var(--flyingy));
  }

  50% {
    transform: translateX(15vw) translateY(calc(var(--flyingy) + 50px));
  }

  100% {
    transform: translateX(var(--fly-end))
      translateY(calc(var(--flyingy) - 10px));
  }
}

@keyframes flyingobject_flipped {
  0% {
    transform: translateX(90vw) translateY(var(--flyingy));
  }
  50% {
    transform: translateX(5vw) translateY(calc(var(--flyingy) + 50px));
  }
  100% {
    transform: translateX(-80vw) translateY(calc(var(--flyingy) - 10px));
  }
}

@keyframes flyingobject_mobile {
  0% {
    transform: translateX(-105vw) translateY(var(--flyingymobile));
  }

  50% {
    transform: translateX(-10vw) translateY(calc(var(--flyingymobile) + 50px));
  }

  100% {
    transform: translateX(85vw) translateY(calc(var(--flyingymobile) - 10px));
  }
}

@keyframes spin {
  // this is for the blurb
  0% {
    transform: scale(1) rotate(0deg);
  }

  40% {
    transform: scale(1.3) rotate(360deg);
  }

  65% {
    transform: scale(1.3) rotate(360deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes spin_lin {
  // this for pfp
  0% {
    transform: scale(1) rotate(0deg);
  }
  10% {
    transform: scale(0.5) rotate(0deg);
  }

  50% {
    transform: scale(1.3) rotate(360deg);
  }

  92% {
    transform: scale(0.8) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes unblur {
  0% {
    filter: blur(0px);
  }

  10% {
    filter: blur(15px);
  }

  100% {
    filter: blur(1px);
  }
}
@keyframes zoomup {
  0% {
    transform: scale(1) rotate(0deg);
  }
  10% {
    transform: scale(0.1) rotate(0deg);
  }

  85% {
    transform: scale(1.3) rotate(0deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

// now define all the actual classes

.border_class {
  animation: border_animation 5s normal infinite;
}

.div_background_class {
  animation: blurbify_bg_animations 10s linear infinite;

  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.3); /* translucent look */
}

.flying_class {
  // make it visible
  display: block !important;
  animation: flyingobject 5s normal linear infinite;
  height: auto !important;

  // for mobile theres a diferent animation class
  @media (max-width: 450px) {
    animation: flyingobject_mobile 5s linear infinite;
  }
}

.flying_class_flipped {
  display: block !important;
  animation: flyingobject_flipped 5s normal linear infinite;

  //  no mobile cause I think we're good now
}

.spin_class {
  // for entire blurb
  animation: spin_lin 5s ease;
  animation-delay: 2s;
}

.unblur_class {
  // the 2 second delay + 5 second time is reflected in the JavaScript
  animation: unblur 8s ease;
  animation-delay: 2s;
}

.zoom_up_class {
  animation: zoomup 7s ease forwards;
  animation-delay: 2s;
}
