// this is for Blurbify_bg_div

:root {
  --originalrotation: 180deg;
}

.no_top_padding {
  // see how it looks
  padding-top: 0px !important;
  margin-top: -10px;
}

.no_height {
  max-height: 0 !important;
  border: 0 !important;
  //   keep L and R padding but remove Up Down padding
  padding: 0 30px !important;
  overflow: hidden !important; // make sure content is hidden
}

// heres the circle down styling
// the blurb one rotation is different than the ones for drop downs fr lmao
#circle_down_blurb {
  font-variation-settings: "FILL" 0, /* filled */ "wght" 700,
    /* bold weight */ "GRAD" 0, /* gradient */ "opsz" 48; /* optical size */
  font-size: 50px !important;
  color: #000000ff;

  margin-top: 8px;

  // for animations
  transition: transform var(--dropdown_time) ease;
  display: inline-block;

  &:not(.rotated):hover {
    // only scales doesnt hover
    transform: scale(1.07);
    cursor: pointer;
  }

  &.rotated {
    transform: rotate(-90deg);
    cursor: pointer;
  }
}

// rotation angle different for this one
.circle_down {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  font-size: 50px !important;
  color: #000000ff;
  margin-top: 8px;

  display: inline-block;

  // start rotated -90°
  transform: rotate(var(--originalrotation));
  transition: transform var(--specs_droptime_time) ease;

  &:not(.rotated):hover {
    // keep rotation but scale up
    // transform: none;
    // there has to be the orignal rotation kept
    transform: rotate(var(--originalrotation)) scale(1.07);
    cursor: pointer;
  }

  &.rotated {
    transform: rotate(360deg);
    cursor: pointer;
  }
}
