// this is for Blurbify_bg_div

.no_top_padding {
  // see how it looks
  padding-top: 0px !important;
  margin-top: -10px;
}

// heres the circle down styling

.circle_down {
  font-variation-settings: "FILL" 0, /* filled */ "wght" 700,
    /* bold weight */ "GRAD" 0, /* gradient */ "opsz" 48; /* optical size */
  font-size: 50px !important;
  color: #000000ff;

  margin-top: 8px;

  // for animations
  transition: transform var(--dropdown_time) ease;
  display: inline-block;

  &:not(.rotated):hover {
    // only scales doesnt hover
    transform: scale(1.07);
    cursor: pointer;
  }

  &.rotated {
    transform: rotate(-90deg);
    cursor: pointer;
  }
}
