// change the visibility of icons

.icons-hidden {
  visibility: hidden;
  height: 0px !important;
}

.icons-visible {
  visibility: visible;
  height: auto;
}
// hide post image li

// here I need to add classes for the imagesection cause thats a bother
.post_image_li-hidden {
  visibility: hidden;
  height: 0px !important;
  padding: 0px !important;
}

.post_image_li-visible {
  visibility: visible;
  height: auto;
  padding: 10px;
}
