<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- google analytics to see how many people visit the site -->
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-RL64E8KXE0"
    ></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-RL64E8KXE0");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Create a blurb and choose from some features to animate it.
    "
    />
    <link rel="icon" href="../images/verified.png" type="image/png" />

    <title>Create a Blurb</title>

    <link rel="stylesheet" href="../static/css/main.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-…(hash)…"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- material icons -->

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- Rounded up in here too -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div class="sitecontainer">
      <h1 id="heading">Blurbify</h1>
      <!-- inputs to change whats in the blurb -->
      <div class="inputdiv">
        <ul id="input_ul">
          <!-- make all of these lis flex cols -->
          <li>
            <p>Add text that will be the name</p>
            <input type="text" placeholder="Add name" id="nameInput" />
          </li>
          <li>
            <p>Verified?</p>
            <!-- custom checkbox -->
            <label class="checkbox-container">
              <input type="checkbox" id="verifiedInput" />
              <span class="checkmark"></span>
              <span class="checkbox-label">Yes</span>
            </label>
          </li>
          <li>
            <p>Add text that will be the username</p>
            <input type="text" placeholder="Add username" id="usernameInput" />
          </li>
          <li>
            <p>Add content text</p>
            <!-- text area is for larger amounts of text and retains newlines -->
            <textarea
              placeholder="Content of the blurb here"
              id="contentInput"
              class="textarea_input"
              rows="6"
            ></textarea>
          </li>
          <li>
            <p>Toggle Icons</p>
            <label class="switch" for="icons_checkbox">
              <input type="checkbox" name="icons" id="icons_checkbox" checked />
              <span class="slider round"></span>
            </label>
          </li>
          <li class="imageli" id="pfp_li">
            <p>Add a pfp to the Blurb</p>

            <!-- the label for file uploads -->
            <label class="file-label" for="pfpInput">Choose Image</label>
            <!-- client side uploading only -->

            <input type="file" id="pfpInput" accept="image/*" />
            <img id="pfp_preview" />
          </li>
          <li>
            <p>Add an image to the post?</p>
            <label class="switch" for="postimage_checkbox">
              <input
                type="checkbox"
                name="icons"
                id="postimage_checkbox"
                checked
              />
              <span class="slider round"></span>
            </label>
          </li>

          <li class="imageli" id="post_image_li">
            <p>Upload Post Image</p>

            <!-- the label for file uploads -->
            <label class="file-label" for="postimageInput">Choose Image</label>
            <!-- client side uploading only -->

            <input type="file" id="postimageInput" accept="image/*" />
            <img id="post_image_preview" />
          </li>
        </ul>
        <!-- submit, need to style this mf -->
        <button id="submitBtn">Submit Blurb</button>
      </div>

      <!-- there can be multiple specs divs. 
       
      -->
      <!-- the specs divs will be drop down menus -->

      <div class="specsdiv" id="color_specs">
        <!-- specs ul has the stuff -->
        <ul class="specs_ul">
          <li>
            <p>Change Blurb Background Color</p>

            <input type="color" name="blurb_bg_input" id="blurb_bg_input" />
          </li>
          <li>
            <p>Change Blurb Border Color</p>
            <input type="color" name="blurb_border" id="blurb_border_input" />
          </li>
          <li>
            <p>Change Blurb Border Thickness</p>
            <div class="sliderdiv">
              <input
                type="range"
                id="border_size_input"
                class="sliderinput"
                min="0"
                max="20"
                value="5"
                step="1"
              />
              <button class="resetbutton" id="reset_border">Reset</button>
            </div>
          </li>
          <li>
            <p>Change Content Text Size</p>
            <div class="sliderdiv">
              <input
                type="range"
                id="contenttext_size_input"
                class="sliderinput"
                min="10"
                max="50"
                value="28"
                step="1"
              />
              <button class="resetbutton" id="reset_text">Reset</button>
            </div>
          </li>
          <li></li>
        </ul>
      </div>
      <!-- hmmm I think this one is gonna be commetned out for now -->
      <div class="specsdiv" id="sizing_specs">
        <ul class="spec_sul">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>

      <!-- add another specs div for pfp stuff -->
      <!-- output of the form -->
      <div class="pointerdiv">
        <h2 id="blurbpointer">The <span>Blurb</span>:</h2>
        <span class="material-symbols-outlined" id="circle_down">
          expand_circle_down
        </span>
        <!-- add an icon here that will add more margin bottom better -->
      </div>

      <div class="blurbify_bg_div">
        <div class="blurbifydiv">
          <div id="pfp_and_username">
            <div class="pfpdiv" id="pfpid">
              <img src="../images/nopfp.webp" alt="pfp gone" id="pfpimage" />
            </div>
            <div class="usernamediv">
              <div class="align_them_div">
                <span id="name"
                  >Placeholder
                  <img
                    src="../images/verified.png"
                    alt=""
                    id="verified"
                  /> </span
                ><span id="username">@placeholder</span>
              </div>
            </div>
          </div>

          <div class="textcontent">
            <!-- use .gradient_text to add gradienttext -->
            <p>This is where the text content of the blurb will go.</p>
            <!-- use span with class of bottom to add margin top lmao -->
          </div>
          <section id="imagesection">
            <img src="" alt="not here yet" id="postimage" />
            <!-- <video src="../images/demovid.mov" controls id="postvid"></video> -->
          </section>

          <!-- icons here -->

          <div class="iconsdiv">
            <!-- can change everything in these icons and animate the fuck out of them lets goo -->
            <i class="fa-regular fa-comment"></i>

            <i class="fa-regular fa-heart"></i>
            <div class="statsarea">
              <span class="material-symbols-outlined stats"> bar_chart </span>
              <span id="count">2.6k</span>
            </div>
            <div class="righticons">
              <span class="material-symbols-rounded bookmark"> bookmark </span>
              <span class="material-symbols-outlined share"> ios_share </span>
            </div>
          </div>
        </div>
      </div>

      <!-- buttons to add animations -->
      <div class="buttons">
        <button id="blurbifybutton">Toggle Blurb Animations</button>
        <button id="Backgroundbutton">Toggle Background Animations</button>
        <button id="flyingbutton">Toggle Flying Object</button>
        <button id="spin">Spin the Blurb</button>
        <button id="wildbutton">Wild animations (does nothing for now)</button>
        <button id="viewsbutton">Animate Views (3 sec delay)</button>
      </div>
      <!-- return home button -->

      <a href="../index.html" id="homebutton">
        <div class="linkdiv">Return to Start Screen</div></a
      >
      <div class="flyingimagesdiv">
        <img
          src="../images/flyingimages/airbus-removebg-preview.png"
          alt="FLYING"
          id="flyingimage1"
          class="flyingimage"
        />
      </div>
    </div>
    <script src="../static/js/toggleanimations.js"></script>
    <script src="../static/js/inputs.js"></script>
    <script src="../static/js/dropdown.js"></script>
  </body>
</html>
