<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <div class="sitecontainer">
      <p>This is body text that should be rendered into an image</p>
      <h2>Big text tooo lol</h2>
      <p>
        I like programming, coding, and piano, and chess sometimes lol.
        <br />
        Gotta make html stop motion
      </p>
      <img src="../images/empirestate.png" alt="" />
    </div>
  </body>
</html>
