<style>
  /* this is just the image styling */
  /* this actually wont work because inline styles will beat this out.  */
  .blurbify_bg_div{
    background-color: rgb(255, 0, 0);
  }
  .adjustmentdiv img {
    width: {{ pfpwidth }} !important;
    height: auto !important;
    position: relative !important;
    margin-right: {{ adjustment_marginright }} !important;
    margin-top: {{ adjustment_margintop }} !important;
    /*twice as much top cause twice as big*/
    top: 0 !important;
  }

  /* this means the image (img) inside pfpdiv */
  .pfpdiv img {
    width: {{ width }} !important;
    margin-right: {{ marginright }} !important;
    margin-top: {{ margintop }} !important;
  }

  @media (max-width: 400px) {
    .pfpdiv img#pfpimage {
      margin-bottom: 10px !important;
      width: {{ phonewidth }} !important;
      margin-right: {{ phone_marginright }} !important;
      margin-top: {{ phone_margintop }} !important;
      top: 0 !important;
    }
  }
</style>
