<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bluribfy Profile</title>
  </head>
  <body>
    <!-- this is exciting -->

    <div class="sitecontainer">
      <div class="topprofile">
        <div class="banner">placeholder banner</div>
        <div class="infosection">
          <!-- no followers or following cause Blurbify is really kinda like a design software -->

          <div class="pfpborder">
            <div class="pfpdiv" id="pfpid">
              <img src="../images/nopfp.webp" alt="pfp gone" id="pfpimage" />
            </div>
          </div>
        </div>
      </div>
      <!-- this is like the main body of the page -->
      <div class="blurbtemplates">
        <!-- main and secondary ones -->
        <div class="actionbar">
          <!-- this is an action bar -->
          <!-- flex row -->
          <h2>Your Blurb Templates</h2>
          <!-- we'll add more actions later -->
          <div class="actions">
            <button class="actionsbutton">Create a new Blurb Template</button>
          </div>
        </div>
        <!-- make the border of this template box be the nice blue red pinkish Blurbify gradient fr -->
        <div class="blurbtemplate main" id="main">
          <h3 class="title">Shalev @swiden.mp4</h3>
          <!-- this is like the Blurb preview with the pfp and username and that stuff -->
          <!-- set the src dynamically, how? We save the current Blurb as an image into google cloud -->
          <img src="" alt="" class="blurb_preview" />
          <p class="blurb_bio">
            Short description about what this Blurb template is
          </p>
          <div class="templateactions">
            <!-- share icon too -->
            <button class="t_actions" id="share">Share Blurb Template</button>
            <button class="templateactionsbutton" id="delete_template">
              Delete Blurb Template
            </button>
          </div>
        </div>
        <div class="blurbtemplate secondary">
          <h3 class="title">Widen Your Brain</h3>
          <img src="" alt="" class="blurb_preview" />
          <p>
            Widen Your Brain is a youtube channel of mine where I post... a lot
            of random stuff.
          </p>
        </div>
      </div>
      <footer>
        <!-- enter footer info here -->
      </footer>
    </div>
  </body>
</html>
