@use "../utils/mixins" as *;
@use "../utils/icons" as *;
@use "../utils/animations" as *;
@use "./navbar";

// this uses card stuff

$bodybg: #eee;
$about-gradient: linear-gradient(90deg, #425d84, #605bf7, #60c4ff);
$card-bg: #7daef8;
$text-dark: #1b2430;
* {
  box-sizing: border-box;
}
#aboutpage {
  @include flexcol;
  width: 100%;
  min-height: 100vh;
  background-color: $bodybg;
  padding: 40px;
  color: $text-dark;
  text-align: center;

  #aboutheading {
    // background: $about-gradient;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    color: #205baeff;
    font-size: clamp(50px, 9vw, 120px);
    margin: 60px 0 30px 0;
    font-weight: 700;
  }

  .about_text {
    border: 3px solid rgb(17, 87, 237);
    border-style: dashed;
    border-radius: 25px;
    width: 90%;
    height: auto;
    padding: 60px;
    margin: 90px 0px;

    .text_section {
      max-width: 900px;
      padding: 50px 0;
      font-size: 22px;
      line-height: 1.6;
      color: $text-dark;
      text-align: left;

      ul {
        padding-left: 30px;
        margin: 10px 0;

        .liheading {
          font-weight: bold;
        }
        .details {
          padding-left: 10px;
          margin: 10px;

          .small {
            font-size: 12px;
            font-style: italic;
          }
        }
      }
    }
  }

  .about_feature {
    width: 90%;
    max-width: 1200px;
    padding: 30px;
    margin: 40px auto;
    background: $card-bg;
    border-radius: 28px;

    color: white;
    transition: transform 0.3s ease;
    @include flexrow;
    justify-content: flex-start;
    text-align: left;

    &:hover {
      transform: translateY(-6px);
    }

    img {
      width: 45%;
      border-radius: 20px;
      object-fit: cover;
      @include border(white);
    }

    div {
      width: 55%;
      @include flexcol;
      align-items: flex-start;
      // add spacing
      margin-left: 25px;
      h2 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 15px;
      }
      p {
        font-size: 20px;
        line-height: 1.5;
      }
      ul {
        padding-left: 30px;
      }
    }
  }

  @media (max-width: 900px) {
    .about_feature {
      flex-direction: column;

      img,
      div {
        width: 100%;
        text-align: left;
      }
      div h2 {
        font-size: 28px;
      }
    }
  }
}
