// this will be the scss for the flying specs specsdiv
// this div will have ALOT of inputs lol
@use "../utils/mixins" as *;
@use "../utils/animations" as *;

$debugborders: false;

#flyingimage_specs {
  // this has all the styling of a specs div already
  // this extends from .specsdiv in bodytext.scss
  border: 9px solid rgba(227, 22, 93, 1);

  margin-bottom: 100px;
  .toggle_menu {
  }
  ul#flying_specs {
    // max height bigger since the
    max-height: 3100px; // enough for full content

    li.imageli {
      input[type="file"] {
        display: none;
      }

      /* Custom styled button to trigger file input */
      .file-label {
        margin-top: 20px;
        display: inline-block;
        padding: 14px 18px;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 500;
        color: #1f1f1f;
        background-color: #f9f9fb;
        border: 2px solid rgba(100, 110, 130, 0.4);
        border-radius: 12px;
        cursor: pointer;
        transition: border-color 0.25s ease, background-color 0.25s ease;

        &:hover {
          border-color: rgba(60, 100, 220, 0.6);
          background-color: #ffffff;
        }

        &:active {
          background-color: #e0e6f0;
        }
      }

      #flying_image_preview {
        margin: 50px 0;
        margin-left: 30px;

        width: 30%;
        height: auto;
        border-radius: 35px;
      }
    }
    li {
      .range_and_number {
        @if $debugborders {
          border: 3px solid green;
        } @else {
          border: 1px solid transparent;
        }
        @include flexcol;
        // to left
        align-items: flex-start;
        // takes up full specs ul
        width: 100%;
        div.numdiv {
          @include flexrow;
          justify-content: flex-start;

          width: 100%;
          input[type="number"] {
            border-radius: 20px;
            border: 3px solid blue;
            width: 90px;
            height: 50px;
            font-size: 30px;
            padding-left: 10px;
          }
          p.units {
            font-style: normal;
            font-size: 23px;
            font-weight: 400;
          }
        }
      }
      .rotationsdiv {
        @if $debugborders {
          border: 3px solid pink;
        } @else {
          border: 1px solid transparent;
        }
        width: 100%;
        @include flexcol;
        align-items: flex-start;

        .buttonsdiv {
          @include flexrow;

          width: 100%;

          border: 3px solid rgb(0, 32, 128);
          margin-top: 30px;
          border-radius: 26px;
          padding: 15px 5px;

          .rotatesubclass {
            @if $debugborders {
              border: 3px solid red;
            } @else {
              border: 1px solid transparent;
            }
            @include flexcol;
            flex: 1;

            p {
              font-style: normal;
              font-size: 23px;
              font-weight: 400;
            }
            .arrowsdiv {
              @include flexrow;
              gap: 10px;
              i {
                font-size: 65px;
                transition: 0.3s all;

                color: rgb(17, 17, 184); /* changes the heart to blue */
                &:hover {
                  cursor: pointer;
                  transform: scale(1.07);
                }
              }
            }
          }
        }

        .previewdiv {
          @include flexrow;
          align-items: center;
          width: 100%;
          height: auto;
          gap: 60px;
          margin: 50px 0;
          img {
            width: 33%;
            height: auto;
            // transition for both of them
            transition: transform 0.5s ease;
          }
          #rotation_object_preview {
            margin-right: 30px;
            width: 40%;
          }

          @media (max-width: 500px) {
            gap: 15px;
            margin-top: 30px;
          }
        }

        @media (max-width: 600px) {
          .buttonsdiv {
            flex-direction: column;
            align-items: flex-start;
          }
          .previewdiv {
            #rotation_object_preview {
              margin-right: 30px;
              width: 51%;
            }
          }
        }
      }
      .radiodiv {
        width: 100%;
        @include flexrow;
        margin-top: 20px;
        .option {
          @include flexcol;
          border: 3px solid orange;

          @if $debugborders {
            border: 3px solid orange;
          } @else {
            border: 1px solid transparent;
          }
          width: 50%;
          height: auto;

          // make the label of the background color transparent
          background-color: transparent;
          cursor: pointer;
          transition: all 0.25s ease;

          // remove default
          input[type="radio"] {
            position: absolute;
            opacity: 0;
            pointer-events: none;
          }
          input[type="radio"]:checked + label {
            // increase the border to make it bigger when clicked
            border: 5px solid transparent;
            background: rgba(51, 157, 95, 1);
            box-shadow: 0 0 10px rgba(255, 138, 0, 0.3);
            .radiotext {
              color: #fff;
            }
          }
          label {
            // the label is what users will click
            background-color: #87c4d1ff;
            border: 1px solid transparent;
            border-radius: 25px;

            @include flexcol;
            width: 100%;
            height: 100%;
            padding: 20px 0;
            p.radiotext {
              font-size: 20px;
              font-weight: normal;
            }
            img {
              width: 80%;
              height: auto;
              border-radius: 30px;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      p.disclaimer {
        font-size: 20px;
        font-style: italic;
        font-weight: normal;
      }
    }
  }
}
// the flying image itself:

div.flyingimagesdiv {
  position: absolute;
  top: 396px;
  right: 850px;
  border: 0px solid black;
  height: auto;
  width: 330px;
  // change this z index to make it go under or over fr lol
  // add a radio selector with screenshots to show.
  z-index: 3;

  // .flyingimage {
  //   max-width: 1000px;
  // }
  #flying_wrapper1 {
    // a wrapper to apply styling on fr lol
    width: 330px;
    display: none;

    #flyingimage1 {
      // by 1default, its hidden so user cant see it
      width: 100%;
      border-radius: 19px;

      height: auto; /* keep aspect ratio */
      max-width: none; /* ignore previous max-width rules */
      position: absolute; /* keep animation working */
      pointer-events: none;

      @media (max-width: 400px) {
        width: 250px;
        height: auto;
      }
    }
  }
  @media (max-width: 400px) {
    top: 503px;
    right: 0px;
  }
}

// general , non nested, reset button

.resetbutton {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #3b6df2; // primary blue border
  border-radius: 18px;
  background-color: #eaf0ff; // light blue background
  color: #1f1f1f;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background-color: #d0e2ff; // slightly darker blue
    border-color: #2a54c3; // darker blue border
    color: #000; // optional text color change
  }

  &:focus {
    outline: none;
    background-color: #60a8f0ff; // even darker on focus
    border-color: #1d3fa8;
    color: #000;
  }

  &:active {
    background-color: #b0ccff;
    border-color: #17317d;
  }
}
