// this will be the scss for the flying specs specsdiv
// this div will have ALOT of inputs lol
@use "../utils/mixins" as *;

#flyingimage_specs {
  // this has all the styling of a specs div already
  // this extends from .specsdiv in bodytext.scss
  margin-bottom: 100px;
  .toggle_menu {
  }
  ul#flying_specs {
    // max height bigger since the
    max-height: 2100px; // enough for full content

    li.imageli {
      input[type="file"] {
        display: none;
      }

      /* Custom styled button to trigger file input */
      .file-label {
        margin-top: 20px;
        display: inline-block;
        padding: 14px 18px;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 500;
        color: #1f1f1f;
        background-color: #f9f9fb;
        border: 2px solid rgba(100, 110, 130, 0.4);
        border-radius: 12px;
        cursor: pointer;
        transition: border-color 0.25s ease, background-color 0.25s ease;

        &:hover {
          border-color: rgba(60, 100, 220, 0.6);
          background-color: #ffffff;
        }

        &:active {
          background-color: #e0e6f0;
        }
      }

      #flying_image_preview {
        margin: 50px 0;
        margin-left: 30px;

        width: 25%;
        height: auto;
        border-radius: 35px;
      }
    }
    li {
      .range_and_number {
        border: 3px solid green;
        @include flexcol;
        align-items: flex-start;

        input[type="number"] {
          border-radius: 20px;
          border: 3px solid blue;
          width: 100px;
          height: 50px;
        }
      }
    }
  }
}
// the flying image itself:

div.flyingimagesdiv {
  position: absolute;
  top: 396px;
  right: 502px;
  border: 3px solid black;
  height: auto;
  width: auto;
  .flyingimage {
    max-width: 1000px;
  }
  #flyingimage1 {
    // display: none;
    position: absolute;

    // adjust these 2 to position

    width: 330px;
    z-index: 2;

    @media (max-width: 400px) {
      width: 180px;
      height: auto;
    }
  }
}

// general , non nested, reset button

.resetbutton {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #3b6df2; // primary blue border
  border-radius: 18px;
  background-color: #eaf0ff; // light blue background
  color: #1f1f1f;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background-color: #d0e2ff; // slightly darker blue
    border-color: #2a54c3; // darker blue border
    color: #000; // optional text color change
  }

  &:focus {
    outline: none;
    background-color: #60a8f0ff; // even darker on focus
    border-color: #1d3fa8;
    color: #000;
  }

  &:active {
    background-color: #b0ccff;
    border-color: #17317d;
  }
}
