@use "../utils/mixins" as *;
@use "../utils/icons" as *;
@use "../utils/animations" as *;
@use "./navbar";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$bodybg: #eee;

body {
  @include bodyStyling;
}
.sitecontainer#indexpage {
  @include flexcol();
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  border: 0px solid black;
  background-color: $bodybg;
  color: white;
  padding: 30px;

  #heading {
    margin-top: 50px;
    margin-bottom: 40px;
    background: linear-gradient(
      90deg,
      #425d84ff,
      #605bf7ff,
      #60c4ffff
    ); /* standard gradient */
    -webkit-background-clip: text; /* show background only inside text */
    -webkit-text-fill-color: transparent; /* make text itself transparent */
    font-weight: bold;

    font-size: 150px;
    @media (max-width: 1000px) {
      font-size: 120px;
    }
    @media (max-width: 600px) {
      font-size: 60px;
    }
  }
  div.blurbdemo {
    width: 85%;
    height: auto;
    // @include border(black);
    margin: 100px 0;
    padding: 30px;
    color: transparent;

    img#homepageblurb {
      width: 100%;
      height: auto;
      border-radius: 20px;
      transition: 0.5s all;
      &:hover {
        transform: scale(1.03) translateY(-10px);
      }
    }
  }
  a.randombutton {
    width: 80%;
    text-decoration: none;
    color: navy;

    margin-bottom: 26px;

    .linkdiv {
      width: 100%;
      height: 300px;

      padding: 30px;

      @include flexcol;
      border: 6px solid #8dc2ffff;
      border-radius: 35px;

      font-weight: bold;
      font-size: 40px;
      background-color: #7daef8ff;
      transition: all 0.3s;

      &:hover {
        background-color: rgb(248, 67, 67);
        color: white;
        border: 6px solid #d50303ff;
      }
    }
    @media (max-width: 400px) {
      width: 70%;

      .linkdiv {
        height: 200px;
        margin-top: 150px;
        font-size: 30px;
      }
    }
  }
}
