@use "../utils/mixins" as *;
@use "../utils/animations" as *;

/* change this color to see it and make changes */

nav.navbar {
  width: 100%;
  background: rgba(255, 255, 255, 0);
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px);
  @include border(red);
  // only one child
  @include flexrow;

  position: sticky;
  // becomes fixed past this value of top
  top: 10px;
  z-index: 999;
  // when we hit the hide point then stop it
  transition: opacity 0.9s ease;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #8c9debff;
    border: 3px solid black;
    border-radius: 26px;
    width: 80%;
    height: 150px;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @include flexrow;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
      rgba(245, 73, 144, 0.5) 0px 10px 15px;
    li {
      border-radius: 20px;
      transition: all 0.3s;
      flex: 1;
      height: 100%;
      @include flexcol;
      // must be partially transparent
      background: rgba(157, 197, 242, 0.25);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgb(125, 170, 253);

      &:hover {
        border: 3px solid rgb(105, 118, 193);
        // move up slightly
        transform: translateY(-3px);
      }
      a {
        color: rgba(48, 20, 134, 1);
        font-weight: bold;
        text-decoration: none;
      }
    }
    @media (max-width: 450px) {
      width: 90%;
    }
  }
}
nav.navbar.hidden {
  opacity: 0;
  pointer-events: none;
}
