@use "../utils/mixins" as *;

footer.sitefooter {
  width: 100%;
  @include flexcol;
  gap: 0;
  padding-top: 0;
  padding: 0;

  .topborder {
    background: linear-gradient(90deg, #425d84ff, #605bf7ff, #60c4ffff);
    height: 10px;
    width: 100%;
  }
  .footercontent {
    width: 100%;
    background: linear-gradient(
      57deg,
      #1b305e 0%,
      #2d4370 20%,
      #1951a0ff 40%,
      #556cf8 60%,
      #d2e1efff 60%,
      /* start solid here */ #eee 100%
    );

    color: white;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    // flex-wrap: wrap;
  }
  .footerleft {
    @include flexcol;
    align-items: flex-start;

    gap: 22px;
    padding-left: 10vw;

    #footerlogo {
      width: 95px;
      height: 95px;
      border-radius: 14px;
      border: 3px solid transparent;
    }

    .footerstatement {
      font-size: 22px;
      font-weight: bold;
      margin-left: 7px;
    }

    .socials {
      display: flex;
      gap: 16px;
      #tiktokicon {
        display: none;
      }

      .socialicon {
        font-size: 28px;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.25s ease;
        color: #ffffffcc;

        &:hover {
          color: #fff;
          background-color: rgba(96, 196, 255, 0.2);
          transform: translateY(-3px);
          text-decoration: none;
        }
      }
    }
  }

  .footerright {
    display: flex;
    align-items: flex-start;
    padding-right: 4vw;

    .footerlinks {
      @include flexrow;
      align-items: flex-start;
      gap: 60px;

      .column {
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
          color: #2f68beff;

          text-decoration: none;
          font-size: 25px;
          font-weight: 600;
          transition: color 0.2s ease;

          &:hover {
            color: #1024a1ff;
            text-decoration: underline;
            text-underline-offset: 4px;
            text-decoration-thickness: 2px;
          }
        }
      }
    }
  }

  @media (max-width: 700px) {
    text-align: center;
    justify-content: center;

    .footerleft {
      padding-left: 20px;
    }

    .footerright .footerlinks {
      // flex-direction: column;
      gap: 30px;

      .column a {
        font-size: 10px;
      }
    }
  }
}
