@use "../utils/mixins" as *;
@use "../utils/icons" as *;
@use "../utils/animations" as *;
@use "../utils/slider" as *;
@use "../utils/hidestuff" as *;
@use "../utils/dropdown" as *;
@use "flying_specs" as *;

.specsdiv#pfp_specs {
  // hide for now
  // different border just for differentiation
  border: 9px solid rgba(64, 129, 220, 1);
  // its the last item in the accordian so it will have a margin bottom. small margin top tho
  margin-top: 6px;
  margin-bottom: 80px;

  .toggle_menu {
    // styling
  }
  .specs_ul#specs_pfp_ul {
    // this padding value is critical for a smooth drop down
    padding: 60px 30px;
    li {
      //
      div.adjustmentdiv {
        border: 3px solid rgb(4, 255, 0);
        border-radius: 50%;
        // since this one is 100px, the real one needs to be subtracted in the javascript
        width: 200px;
        aspect-ratio: 1 / 1;

        border: 0px solid black;
        border-radius: 50%;

        overflow: hidden;
        z-index: 1;
        flex-shrink: 0;

        background-color: var(--pfpbackground);

        // for the wrapper
        position: relative;
        display: inline-block;
        // padding: 3px;
        @include flexcol;
        img {
          // same specifications as pfpdiv img
          // use top and right values for all my templates too
          height: auto;

          width: var(--imagescale);
          height: auto;
          position: relative;

          // twice as much top cause twice as big
          top: 8px;
          right: 0px;
        }

        @media (max-width: 450px) {
          // twice the width of the current pfp thats important
          width: calc(var(--phonepfpsize) * 2);
        }
      }
      div.dragdiv {
        width: 200px;
        height: 200px;
        border: 3px solid black;
        position: relative;
        @include flexcol;
        margin-top: 50px;
        overflow: hidden;

        #dragcircle {
          background-color: blue;
          border-radius: 50%;
          width: 100px;
          aspect-ratio: 1 / 1;
          position: relative;
        }

        @media (max-width: 450px) {
          // twice the width of the current pfp thats important
          width: calc(var(--phonepfpsize) * 2);
        }
      }
    }
  }
}
