@use "bodytext.scss";
@use "../scss/flying_specs";
@use "./navbar";
@use "./inputdiv";
@use "./pfpspecs";
@use "./footer";
// distincy pages

@use "templates_scss/templatespage";
@use "./index";
@use "./about";
